---
import { getCollection } from "astro:content";
import PostPreview from '../../components/PostPreview.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { sortMDByDate } from '../../utils';


const allPosts = await getCollection("blog");
const allPostsByDate = sortMDByDate(allPosts);
---

<BaseLayout title="Blog" navbarActiveItemID="blog">
  <section aria-label="Publicaciones de mi sitio">
    <h1 class="text-2xl font-black mb-6 text-green-400 drop-shadow-lg">✏️ Blog</h1>
    {
      allPostsByDate.length === 0 ? (
        <div class="text-center">
          <h1 class="text-9xl font-bold mb-4">🏜️</h1>
          <h1 class="text-9xl font-bold mb-4 text-primary">404</h1>
          <h3 class="text-2xl">
            No hay publicaciones disponibles, regresa mañana
          </h3>
        </div>
      ) : (
      <ul class="space-y-4 sm:space-y-2">
        {
          allPostsByDate.map((post) => (
            <li class="flex flex-col gap-x-2 sm:flex-row">
              <PostPreview post={post} />
            </li>
          ))
        }
    </ul>
      )
    }
  </section>
</BaseLayout>
