@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }
}

@tailwind components;

@tailwind utilities;

noise {
  pointer-events: none;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeat center center url('/noise.svg');
  background-size: auto;
  background-size: 24%;
  opacity: 0.75;
  mix-blend-mode: luminosity;
}