---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404: Not Found">
  <div class="text-center mt-32">
    <h1 class="text-8xl font-bold mb-4">🤔</h1>
    <h1 class="text-9xl font-bold mb-4 text-green-400">404</h1>
    <h3 class="text-lg text-justify">
      Al parecer hubo una confusión, la página que intentas acceder no existe al
      menos en esta temporada.
    </h3>
    <a class="btn mt-8" href="/">Inicio</a>
  </div>
</BaseLayout>
