---
import { getCollection } from "astro:content";
import PostPreview from "../components/PostPreview.astro";
import SocialMediaIcons from "../components/SocialMediaIcons.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { sortMDByDate } from "../utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("blog");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const languages = ["js", "ts", "python", "sql", "dart", "go"];
---

<BaseLayout navbarActiveItemID="home">
  <section
    aria-label="Descripción general del sitio y del autor"
    class="text-sm"
  >
    <h1 class="md:text-3xl text-xl font-bold mb-6 drop-shadow-lg">
      👋 <span id="helloWorld">print('¡Hola mundo!')</span>
    </h1>
    <p class="mb-4">
      Mi nombre es <span class="font-black text-cyan-500">Alfonso Reyes</span
      > y te doy la bienvenida a mi sitio web personal.
    <p class="mt-2">
      De vez en cuando voy a recordar de la existencia de este sitio y voy a
      escribir algo útil (subjetivo) sobre programación o algo relacionado con
      tecnología.
      <br />
      <div class="my-4">
        Aquí hablamos:
        {
          languages.map(
            (
              lang
              // addh over with animation
            ) => (
              <span class="kbd kbd-sm hover:shadow-xl hover:scale-110 duration-150 mx-[0.3rem]">{`.${lang}`}</span>
            )
          )
        }
      </div>
    </p>
    <div class="mt-4 flex flex-wrap items-center gap-x-4 sm:items-center fill-slate-400">
      <SocialMediaIcons />
    </div>
  </section>
  <section aria-label="Lista de publicaciones recientes" class="mt-4">
    <h2 class="title mb-4 text-md font-bold">Posts</h2>
    <ul class="space-y-4 sm:space-y-2">
      {
        allPostsByDate.map((post) => (
          <li class="flex flex-col gap-x-2 sm:flex-row">
            <PostPreview post={post} />
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  .astro-code {
    padding: 5rem;
  }
</style>

<script>
  function getRandomPhrase() {
    const phrases = [
      'console.log("Hello world!")',
      'print("Hola mundo!")',
      'System.out.println("Hola mundo!")',
      'echo "Hola mundo!"',
      'fmt.Println("Hello world!")',
    ];
    return phrases[Math.floor(Math.random() * phrases.length)];
  }
  // modify span id helloWorld with message on page load
  document.getElementById("helloWorld")!.innerHTML = getRandomPhrase();
</script>
