---
const today = new Date();
---
<footer class="footer footer-center block mb-4 pt-10">
  <div class="pb-5">
    <span>Hecho con <span class="text-red-400">❤</span></span>
  </div>
</footer>

<script is:inline src="/js/lightbox-plus-jquery.min.js"></script>
