---
const { navbarActiveItemID } = Astro.props;
const activeClasses = ["text-cyan-500", "font-black"];

const collections: Array<{
  title: string;
  id?: string;
  url?: string;
  new?: boolean;
  redirect?: string;
}> = [
  {
    title: "index.html",
    id: "home",
    url: "/",
  },
  {
    title: "about.ts",
    id: "about",
    url: "/about",
  },
  {
    title: "blog.sql",
    id: "blog",
    url: "/blog",
  },
  {
    title: "photos.jpg",
    redirect: "https://ojoanalogo.com"
  }
];
---

<header id="main-header" class="mb-6 md:mb-8">
  <nav
    id="navigation-menu"
    aria-label="Main menu"
    class="flex items-center flex-col md:flex-row content-stretch justify-between"
  >
  <span class="flex">
    <a target="_self" href="/">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        class="fill-gray-400 hover:scale-110 transform transition-transform duration-150 ease-in-out"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="50px"
        height="50px"
        viewBox="0,0,256,256"
        ><g
          fill-rule="nonzero"
          stroke="none"
          stroke-width="1"
          stroke-linecap="butt"
          stroke-linejoin="miter"
          stroke-miterlimit="10"
          stroke-dasharray=""
          stroke-dashoffset="0"
          font-family="none"
          font-weight="none"
          font-size="none"
          text-anchor="none"
          style="mix-blend-mode: normal"
        >
          <g transform="scale(5.12,5.12)">
            <path
              d="M14.68164,6.46289c-1.13046,0 -2.06863,0.95592 -2.40625,2.24023c-4.88367,0.17091 -7.39232,0.99984 -9.68164,1.88086c-0.0138,0.00555 -0.02748,0.01141 -0.04102,0.01758c-0.84803,0.36913 -1.56495,0.91826 -2.02734,1.6543c-0.46239,0.73604 -0.63413,1.65684 -0.45117,2.57031c0.00065,0.00196 0.0013,0.00391 0.00195,0.00586l0.71094,3.4375c0.14867,0.71955 0.77601,1.2395 1.60156,1.49805c0.24641,0.54865 0.82533,1.59716 2.375,1.76953c1.52934,0.19514 2.47814,0.21384 4.00586,0.21484c0.56632,0.00062 1.05827,0.28968 1.30469,0.76563c0.01101,0.02059 0.02273,0.04078 0.03516,0.06055l3.51367,5.78125c0.1188,0.19563 0.2429,0.40087 0.36328,0.60156c-0.01071,0.05213 -0.01724,0.10503 -0.01953,0.1582l-0.45312,8.33008l-0.63086,2.22852l-2.01562,1.52539c-0.34202,0.25946 -0.4803,0.70824 -0.34361,1.1152c0.13668,0.40695 0.51784,0.68128 0.94713,0.68168h4.11914c0.79331,0 1.51842,-0.47414 1.83398,-1.20312l1.41016,-3.25c0.01957,-0.04433 0.03589,-0.09002 0.04883,-0.13672l0.32813,-1.21289l1.2832,2.88867l-1.48242,1.11523c-0.34314,0.25856 -0.48279,0.70739 -0.34692,1.11499c0.13587,0.4076 0.51689,0.68287 0.94653,0.68384h4.42773c1.21889,0 2.17564,-1.13399 1.96875,-2.33594l-0.56836,-3.32227c-0.00346,-0.01703 -0.00737,-0.03396 -0.01172,-0.05078l-0.51758,-2.29102h10.27734c1.11899,1.26558 2.30199,2.41191 2.73828,2.87305c0.01848,0.01957 0.01085,0.0024 0.01953,0.00977l-0.64648,1.92383l-2.74219,1.28906c-0.42283,0.19984 -0.6507,0.66602 -0.54865,1.12242c0.10205,0.4564 0.50676,0.78114 0.97444,0.78188h5.01758h0.75781h3.30664c1.24711,0 2.20243,-0.8176 2.65039,-1.88477l1.98633,-4.30859c0.12951,-0.28028 0.1223,-0.60466 -0.01953,-0.87891c-2.49199,-4.80732 1.01563,-9.79492 1.01563,-9.79492c0.01962,-0.02706 0.03787,-0.05509 0.05469,-0.08398c0.15833,-0.18061 0.24638,-0.41217 0.24805,-0.65234c0,0 0.02352,-3.0734 -1.59961,-6.16602c-1.62313,-3.09261 -5.06405,-6.23047 -11.40039,-6.23047c-5.20307,0 -9.14292,1.57854 -12.48828,2.43164c-0.44027,0.11229 -0.89653,0.18071 -1.24023,0.15625c-0.3437,-0.02446 -0.53573,-0.10412 -0.69922,-0.28125l-5.16797,-5.76953c-0.01263,-0.01404 -0.02566,-0.02772 -0.03906,-0.04102v-0.08984c0,-1.72933 -1.32843,-2.94336 -2.68359,-2.94336zM14.68164,8.46289c0.32833,0 0.68359,0.07969 0.68359,0.94336v0.61523c0.0002,0.3611 0.19504,0.69405 0.50977,0.87109c0.0668,0.0377 0.09675,0.05723 0.13281,0.08008l5.08594,5.67969c0.00323,0.00393 0.00648,0.00784 0.00977,0.01172c0.56751,0.61486 1.33984,0.86918 2.02539,0.91797c0.68555,0.04879 1.32523,-0.07218 1.87695,-0.21289c3.5406,-0.9029 7.19721,-2.36914 11.99414,-2.36914c5.70566,0 8.26449,2.55677 9.63086,5.16016c1.08054,2.05879 1.24872,3.76626 1.29688,4.54297c-1.38877,0.35989 -2.9708,1.08739 -4.19141,2.67188c-1.44156,1.8713 -2.0588,4.7797 -0.7832,8.55078l-1.97852,4.92578c0,0.00065 0,0.0013 0,0.00195c-0.03637,0.09118 -0.11888,0.14648 -0.2168,0.14648h-0.75781h-1.00781c0.02623,-0.04822 0.04844,-0.09852 0.06641,-0.15039l0.82617,-2.45898v-0.00195c0.25998,-0.77624 -0.13818,-1.50134 -0.50391,-1.88867c-0.00065,-0.00065 -0.0013,-0.0013 -0.00195,-0.00195c-0.6336,-0.66968 -1.85879,-1.7834 -3.00195,-3.14258c-0.19025,-0.22566 -0.47047,-0.35576 -0.76562,-0.35547h-11.95117c-0.30386,0.00026 -0.59111,0.13865 -0.7807,0.37611c-0.18959,0.23746 -0.26093,0.54823 -0.19391,0.8446l0.78711,3.48438l0.56445,3.29492h-1.50195c0.21291,-0.28895 0.25465,-0.66984 0.10938,-0.99805l-3.37305,-7.59961c-0.07704,-0.1731 -0.20167,-0.32076 -0.35937,-0.42578c-1.50879,-1.00445 -2.43463,-2.77004 -3.58008,-4.65625l-3.51367,-5.78125l0.0332,0.05859c-0.59958,-1.15805 -1.8064,-1.84432 -3.08008,-1.8457c-1.52057,-0.001 -2.31357,-0.01175 -3.76367,-0.19727c-0.00715,-0.00138 -0.01431,-0.00268 -0.02148,-0.00391c-0.68048,-0.07307 -0.94531,-0.85547 -0.94531,-0.85547c-0.12986,-0.40356 -0.50005,-0.68141 -0.92383,-0.69336c-0.27667,-0.00786 -0.37057,-0.19066 -0.38281,-0.19922l-0.37305,-1.80273h0.63867c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587h-0.99414c0.01213,-0.25083 0.0823,-0.46869 0.21484,-0.67969c0.20237,-0.32213 0.57159,-0.63843 1.125,-0.88086c2.41422,-0.9294 4.39919,-1.72462 9.66992,-1.81055c0.54539,-0.00964 0.98245,-0.45453 0.98242,-1v-0.22266c0,-0.86367 0.35526,-0.94336 0.68359,-0.94336zM10,12c-0.552,0 -1,0.448 -1,1c0,0.552 0.448,1 1,1c0.552,0 1,-0.448 1,-1c0,-0.552 -0.448,-1 -1,-1zM46.88281,27.22852c-0.90673,2.15706 -1.7584,5.58694 -0.16992,9.11328l-1.82812,3.9668c-0.00476,0.01098 -0.00931,0.02205 -0.01367,0.0332c-0.13804,0.32884 -0.64975,0.6582 -0.80664,0.6582h-0.99414l1.85742,-4.62695c0.09322,-0.23125 0.09671,-0.48897 0.00977,-0.72266c-1.3118,-3.52455 -0.70298,-5.64521 0.38281,-7.05469c0.44163,-0.57329 0.99658,-1.02213 1.5625,-1.36719zM15.83008,31.69727c0.48117,0.58739 1.0215,1.14356 1.66406,1.62891l0.43164,0.9707l-0.95508,3.51953l-1.38281,3.18359h-1.14844c0.13119,-0.12405 0.22636,-0.28131 0.27539,-0.45508l0.75391,-2.6582c0.01964,-0.07076 0.03143,-0.14346 0.03516,-0.2168z"
            ></path>
          </g>
        </g>
      </svg>
    </a>
    <a
      href="/"
      target="_self"
      class="py-4 px-8 font-black md:text-md whitespace-nowrap text-zinc-300 hover:text-cyan-400 duration-200"
    >
      alfon.so
    </a>
  </span>
    <span class="flex flex-row">
      {
        collections.map((link) => {
          return (
            <a
              href={link.redirect ? link.redirect : link.url}
              target={link.redirect ? "_blank" : "_self"}
              id={link.id}
              class="px-4 py-1 hover:underline rounded-lg"
            >
              {link.title}
            </a>
          );
        })
      }
    </span>
  </nav>
</header>

<script
  define:vars={{
    navbarActiveItemID,
    activeClasses,
  }}
>
const activeItemElement = document.getElementById(navbarActiveItemID);

activeClasses.forEach((activeClass) => {
  activeItemElement.classList.add(activeClass);
});
</script>
